a {
  float: left;
  display: inline-block;
  color: #5cf4ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: 2px solid rgba(92, 244, 255, 1);
}
body {background: #000000;}
